# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

*.zwc

# Custom ignores

# Bin
bin/.local/*
!bin/.local/bin/sample

# Claude
claude/.claude/ide/*
claude/.claude/projects/*
claude/.claude/shell-snapshots/*
claude/.claude/statsig/*
claude/.claude/todos/*
claude/.claude/settings.json
claude/.claude/commands/git/create-pr.md
claude/.claude/commands/jira/fix-issue.md

.env-secrets

# JJ
.jj

# Tmux
tmux/.tmux/plugins/*
!tmux/.tmux/plugins/tpm

# Zsh
zsh/_bun
