# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

*.zwc

zsh/_bun

tmux/.tmux/plugins/*
!tmux/.tmux/plugins/tpm

bin/.local/*
!bin/.local/bin/sample

.env-secrets

.jj
