#!/usr/bin/env bash

# Shortcuts
alias doc="cd ~/Documents"
alias desk="cd ~/Desktop"

# Exa
alias ls="command eza --icons"
alias la="command eza --icons -a"
alias ll="ls --long --header --git"
alias lt="ls --tree --level=4 -I=.git --git-ignore"

# Enable aliases to be sudo’ed
alias sudo="sudo "

# Get week number
alias week="date +%V"

# Trim new lines and copy to clipboard
alias c="tr -d "\n" | pbcopy"

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# Print each PATH entry on a separate line
alias path="echo -e ${PATH//:/\\n}"

# Force nvim
alias vim="nvim"
alias vi="nvim"

# View File
alias v="fd --type f --hidden --exclude .git | fzf --preview 'bat --style numbers,changes --color=always {}' | xargs nvim"

alias gcb="git branch --sort=-committerdate | fzf --header Checkout | xargs git checkout"

alias reset_vpn="sudo kill -SEGV $(ps auwx | grep dsAccessService | grep Ss | awk '{print $2}'); sudo route delete pcs.flxvpn.net;"

alias get_ip="ipconfig getifaddr en0 | pbcopy"

alias cat="bat --style=plain"

# Tmux Sessionizer
bindkey -s "^f" "tmux-sessionizer\n"


# Git
alias g="git"
alias ga="git add"
alias gca="git commit -a"
alias gb="git branch"
alias gc="git commit"
alias gcl="git clone"
alias gcf="git commit --fixup"
alias gd="git diff"
alias gi="git init"
alias gl="git log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset'"
alias gp="git push"
alias gpf="git push --force-with-lease --force-if-includes"
alias grf="git reflog"
alias gst="git status"
alias gsw="git switch"
alias gu="git pull"

#LazyGit
alias lg="lazygit"

# Claude Code
alias cc="claude"
